@{
    ViewData["Title"] = "Home Page";
}

    <div>
        <h4 class="text-center">Work Force</h4>
        <div id="TODO">
            <h4>TODO</h4>
            <ul>
                <li>Move Login div to modal</li>
                <li>Create Work Units</li>
            </ul>
        </div>
        <div id="DONE">
            <h4>DONE</h4>
            <ul>
                <li>Login/Logout/Registration</li>
            </ul>
        </div>

        <div id="Explanation">
            <h4>Explanation</h4>
            <ul>
                <li>
                    decentralized platform for short term contract job listing
                    like uber
                    where the agreement to do something can be peer reviewed (blockchain)
                </li>
                <li>
                    (employers)
                    posting a job, you agree to give a
                    specific amount of units for completion
                </li>
                <li>
                    (contractors)
                    apply for that job, your units can be more or
                    less valuable than other users
                </li>

                <li>
                    (employers)
                    buy the units of user you want to hire out of who has applied fot that job
                </li>

                <li>
                    how much money you make for your time
                    is based on a fluxating number caused by the buying and selling
                    of your units
                </li>

                <li>
                    your unit price is how valuable your working hours are
                    based on a trading market
                </li>
            </ul>
        </div>

    </div>
