<style>
    .Register {
        background-color: rgb(50, 50, 50);
        padding: 12px;
        text-align: center;
        margin: 26px;
    }
</style>




<div class="Register">
    <h4 id="RegisterResult" style="color:red">Status: &ensp;Waiting for input...</h4>

    <div id="Register">
        <input type="text" id="RegisterUsernameInput" placeholder="Username" />
        <input type="password" id="RegisterPasswordInput" placeholder="Password" />
        <button id="RegisterButton" onclick="Register();">Register</button>
    </div>
</div>



@section Scripts{

    <script>

        var registerUsernameInput = document.getElementById("RegisterUsernameInput");
        var registerPasswordInput = document.getElementById("RegisterPasswordInput");
        var registerResult = document.getElementById("RegisterResult");
        var registerButton = document.getElementById("RegisterButton");
        
        UpdateRegister();
  

        function UpdateRegister() {

            var sessionUser = JSON.parse(sessionStorage.getItem('User'));


            if (sessionUser && sessionUser.username && sessionUser.password) {
                console.log("Logged in");
                $("#Register").hide();
                registerResult.innerHTML = "Status: &ensp;Already Logged In...";

                setTimeout(function () {
                    window.location.href = sessionStorage.getItem('LastPage');
                }, 500);

            }
            else {
                console.log("Logged out");
                registerResult.innerHTML = "Status: &ensp;Waiting for Register..."                
                $("#Register").show();

            }

        }
        function Register() {

            var user = {
                Username: registerUsernameInput.value,
                Password: registerPasswordInput.value
            };
            registerResult.innerHTML = "Status: &ensp;Registering..."

            $.post("/Home/Register/", user, function (result) {
                console.log(result);

                registerResult.innerHTML = "Status: &ensp;" + result.message;

                if (result.failed == false) {

                    var userJson = JSON.stringify(result.result);
                    console.log(userJson);
                    sessionStorage.setItem('User', userJson);

                    UpdateRegister();

                    UpdatePage();
                }
            });
        }

    </script>
}