
@{
    ViewData["Title"] = "Fantasy";
}

<h1>Fantasy</h1>

<h4>@ViewBag.Season</h4>

<div class="grid-container">
    <div class="grid-item">2017</div>
    <div class="grid-item">2018</div>
    <div class="grid-item">2019</div>
    <div class="grid-item">2020</div>
</div>

