<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WorkForce</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/Home">Cokey~Cola</a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/Home">Home</a></li>
                    <li><a href="/Trade">Trade</a></li>
                    @*<li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="/Fantasy">Fantasy <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="/Fantasy?year=2017">2017</a></li>
                <li><a href="/Fantasy?year=2018">2018</a></li>
                <li><a href="/Fantasy?year=2019">2019</a></li>
                <li><a href="/Fantasy?year=2020">2020</a></li>
                <li><a href="/Fantasy">All</a></li>
            </ul>
        </li>*@
                    <li><a href="/Admin">Admin</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li onclick="SaveLastPage();" id="RegisterLink"><a href="/Home/Register"><span class="glyphicon glyphicon-user"></span>Register</a></li>
                    <li onclick="SaveLastPage();" id="LoginLink"><a href="/Home/Login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    <li onclick="Logout();" id="LogoutLink"><a href="#"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <div>
        @RenderBody()
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - WorkForce
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)

    <script>

        UpdatePage();
        var loggedIn = false;

        function UpdatePage() {

            var sessionUser = JSON.parse(sessionStorage.getItem('User'));


            if (sessionUser && sessionUser.username && sessionUser.password) {
                console.log("Logged in");
                $("#RegisterLink").hide();
                $("#LoginLink").hide();
                $("#LogoutLink").show();
                loggedIn = true;

            }
            else {
                console.log("Logged out");
                $("#RegisterLink").show();
                $("#LoginLink").show();
                $("#LogoutLink").hide();

                loggedIn = false;
            }
        }

        function SaveLastPage() {
            if (window.location.pathname != "/Home/Register" && window.location.pathname != "/Home/Login")
            sessionStorage.setItem("LastPage", window.location.pathname);
        }

        function Logout() {

            var userJson = sessionStorage.getItem('User')

            console.log("SEND: " + userJson);

            $.ajax({
                type: 'POST',
                url: '/Home/Logout/',
                data: userJson,
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                }
            }).done(
                function (result) {
                    console.log("RECEIVED: " + result);
                    location.reload();

                });

            sessionStorage.removeItem('User');

        
            
        }

    </script>
</body>
</html>
