<style>
    .Login {
        background-color: rgb(50, 50, 50);
        padding: 12px;
        text-align: center;
        margin: 26px;
    }

    #Login {
    }
</style>




<div class="Login">
    <div id="Login">
        <h4 id="LoginResult" style="color:red;">Status: &ensp;Waiting for input...</h4>
        <input type="text" id="LoginUsernameInput" placeholder="Username" />
        <input type="password" id="LoginPasswordInput" placeholder="Password" />
        <button id="LoginButton" onclick="Login();">Login</button>
    </div>

    <div id="Logout">
        <button id="LogoutButton" onclick="Logout();">Logout</button>
    </div>
</div>


@section Scripts{

    <script>

        var usernameInput = document.getElementById("LoginUsernameInput");
        var passwordInput = document.getElementById("LoginPasswordInput");
        var loginResult = document.getElementById("LoginResult");
        var loginButton = document.getElementById("LoginButton");


        UpdateLogin();
        var loggedIn = false;

        function UpdateLogin() {

            var sessionUser = JSON.parse(sessionStorage.getItem('User'));


            if (sessionUser && sessionUser.username && sessionUser.password) {
                $("#Login").hide();
                $("#Logout").show();

                loggedIn = true;
                setTimeout(function () {
                    window.location.href = sessionStorage.getItem('LastPage');
                }, 500);

            }
            else {
    
                loginResult.innerHTML = "Status: &ensp;Waiting for login..."
                $("#Logout").hide();
                $("#Login").show();

                loggedIn = false;
            }

            if ($("#Register").length > 0) {
                UpdateRegister();
            }

        }
        function Login() {

            var user = {
                Username: usernameInput.value,
                Password: passwordInput.value
            };
            loginResult.innerHTML = "Status: &ensp;Logging In..."

            $.post("/Home/Login/", user, function (result) {
                // console.log(result);

                loginResult.innerHTML = "Status: &ensp;" + result.message;

                if (result.failed == false) {

                    sessionStorage.setItem('User', JSON.stringify(result.result));

                    UpdateLogin();
                    UpdatePage();


                }
            });
        }

        function Logout() {

            var userJson = sessionStorage.getItem('User')

            console.log("SEND: " + userJson);

            $.ajax({
                type: 'POST',
                url: '/Home/Logout/',
                data: Json.stringify(userJson),
                headers: {
                    'Content-Type': 'application/json'
                }
            }).done(
                function (result) {
                    console.log("RECEIVED: " + result);
                });

            sessionStorage.removeItem('User');

            UpdateLogin();
            UpdatePage();
        }

    </script>
}

